
/*This is my simple css reset code*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

/*This is my app's css*/

.homePg {
  background-image: url("https://images.pexels.com/photos/1638775/pexels-photo-1638775.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  position: relative;
  width:  100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whiteTxt {
  color: white;
}

.title {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 6em;
}

.nameForm {
    position: absolute;
    right: 4em;
    top: 7em;
    font-size: 2em;
    text-align: center;
}

.nameForm2 {
    position: absolute;
    right: 9em;
    top: 7em;
    font-size: 2em;
    text-align: center;
}

.randomWord {
    position: absolute;
    right: 5%;
    top: 50%;
    font-size: 2em;
    text-align: center;
}

.randomWord2 {
    position: absolute;
    left: 50%;
    top: 63%;
    font-size: 2em;
    text-align: center;
}

.randomWord3 {
    position: absolute;
    right: 18%;
    top: 55%;
    font-size: 2em;
    text-align: center;
}

.typerWord {
  font-size: 3em;
}

.clock {
    position: absolute;
    top: 50%;
    left: 23%;
    font-size: 3em;
}

.typerForm {
    position: absolute;
    top: 80%;
    left: 57%;
    font-size: 3em;
    text-align: center;
}

.typerFormInput {
  font-size: 75%;
}

.gameOver1 {
  position: absolute;
    left: 54%;
    top: 45%;
    font-size: 3em;
}

.gameOver2 {
  position: absolute;
    left: 54%;
    top: 60%;
    font-size: 3em;
}

.tinyTxt {
  font-size: 14px;
}


